*{
  background-color: antiquewhite;
}

.login-background{
  background-image: url(https://media.tenor.com/plWFIcaMyrEAAAAC/anime-aesthetic.gif);
  background-size: cover;
  height: 100vh;
  padding:0;
  margin:0;
}

.login-div{
  position: absolute;
  text-align: center;
  height: 40%;
  width: 30%;
  margin-left: 25%;
  margin-top: 25%;  
}